{% extends 'mainPanel/base.html' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid">
{#                <link rel="stylesheet" type="text/css" href="statics/style.css">#}
                <div class="row">
                    <form  id="upload" action="{% url 'mainPanel:homepage'  %}"  method="POST" enctype="multipart/form-data">
                        <div class="col-lg-6">
                        <!-- file load -->
                            <div id="filedrag" class = "dropzone">
                                <div>Drop files here to upload</div>
                                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                            </div>
                            <div>
                                <label for="fileselect">Files to upload:</label>
                                <input type="file" id="file" name="file" />

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <h3 class="panel-title">Customize Panel</h3>
                                </div>
                                <div class="panel-body">

                                    <!-- form section -->
    {#                                <form class="form-horizontal" enctype="multipart/form-data">#}
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">USERNAME</span>
                                            <input type="text" class="form-control"  name="username"  aria-describedby="basic-addon1" >
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">AGE</span>
                                            <input type="text" class="form-control" name="desc"  aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon3">DEPARTMENT</span>
                                            <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon4">NATIONALITY</span>
                                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-offset-10 col-lg-3">
                                                    <button type="submit" class="btn btn-success" >Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--</div>-->
    {#                                 </form>#}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- progress bar -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Progress panel</h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 2em;width: 40%"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                    UPLOADING...
                </div>
            </div>
        </div>
    </div>



<form enctype="multipart/form-data" action="#" method="post">
    <input type="text" name="user" />
    <input type="text" name="desc" />
   <input type="file" name="file" />
   <br/>
   <input type="submit" value="upload"/>
</form>



{% endblock %}