<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <link rel="stylesheet" type="text/css" href="statics/style.css">
            <div id="drop_area">将图片拖拽到此区域</div>
        </div>
     </div>
</div>




<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Customize Panel</h3>
    </div>
    <div class="panel-body">

        <!-- form section -->
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="container-fluid">
                <!--<div class="row">-->
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Parameter</span>
                            <input type="text" class="form-control" placeholder="parameter" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Parameter</span>
                            <input type="text" class="form-control" placeholder="parameter" aria-describedby="basic-addon1">
                        </div>
                    </div>
                <!--</div>-->

                <!--<div class="row">-->
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">Parameter</span>
                            <input type="text" class="form-control" placeholder="parameter" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4">Parameter</span>
                            <input type="text" class="form-control" placeholder="parameter" aria-describedby="basic-addon1">
                        </div>
                    </div>
                <!--</div>-->

                <!--<div class="row">-->
                    <div class="form-group">
                        <div class="col-sm-offset-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                <!--</div>-->
            </div>
         </form>
    </div>
</div>


<!-- progress bar -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Customize Panel</h3>
    </div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 2em;"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                UPLOADING...
            </div>
        </div>



    </div>
</div>