

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <link rel="stylesheet" type="text/css" href="statics/style.css">
            <div class="row">
                 <div class="col-lg-6">
                    <form class = "dropzone"  action="#" id="avatar-dropzone">
                        <div>Drop files here to upload</div>
                    </form>


                    <div class="panel panel-default">
                      <div class="panel-body">
                        <input id="importFile"name="importFile" type="file" >
                      </div>
                    </div>
                     </div>
                    <div class="col-lg-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Customize Panel</h3>
                        </div>
                        <div class="panel-body">

                            <!-- form section -->
                            <form class="form-horizontal" enctype="multipart/form-data" (submit)="getTask()">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">USERNAME</span>
                                            <input type="text" class="form-control" ng-control = "user" [(ngModel)]=" username " name="name"  aria-describedby="basic-addon1" >
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon2">AGE</span>
                                            <input type="text" class="form-control" [(ngModel)]=" age " name="age"  aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon3">DEPARTMENT</span>
                                            <input type="text" class="form-control" [(ngModel)]=" department " name="department" aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon4">NATIONALITY</span>
                                            <input type="text" class="form-control" [(ngModel)]=" nationality " name="nationality" aria-describedby="basic-addon1">
                                        </div>

                                        <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-offset-10 col-lg-3">
                                                <button type="submit" class="btn btn-success" >Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                <!--</div>-->
                             </form>
                        </div>
                    </div>




                </div>
            </div>
        </div>
     </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Task information</div>
    <div class="panel-body">
        <div class="container-fluid">
            <link rel="stylesheet" type="text/css" href="statics/style.css">
            <table>
                <tr>Username: {{ username }}</tr>
                <tr>Age: {{ age }}</tr>
                <tr>Nationality: {{ nationality }}</tr>
                <tr>Department: {{ department }}</tr>
            </table>
        </div>
    </div>
</div>